/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header and Navigation */
header {
    background-color: #333; /* Estilo más oscuro para un look moderno */
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d6a75c;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* Sections */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Login Form */
.login-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #d6a75c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
}

/* Estilo para las recetas */
#recetas ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    list-style: none;
    padding: 0;
}

#recetas ul li {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
}

#recetas ul li:hover {
    transform: scale(1.05);
}

.carousel-container { width: 60%; overflow: hidden; } 
.carousel { display: flex; transition: transform 0.5s ease-in-out; }
 .carousel-item { min-width: 100%; box-sizing: border-box; } 
 .carousel-item img { width: 100%; border-radius: 10px 
}